@import "../../assets/theme.scss";

.page-header-container {
  margin-bottom: 40px;
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    .title-container {
      .page-title {
        color: $primary-theme-color;
        font-size: 35px;
        font-weight: bold;
      }
      .page-subtitle {
        color: grey;
      }
    }

    .icons-container {
      gap: 2em;
      display: flex;
      .action-icon {
        color: $primary-theme-color;
        cursor: pointer;
        font-size: 26px;
      }
    }
  }
  .title-divider {
    margin-top: 16px;
  }
}
