.lang-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.flag {
  height: 1em;
  width: 1.5em;
  margin-right: 0.5em;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.lang-switcher-container {
  margin-right: -14px;
}
