@import "../../assets/theme.scss";

.lang-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-txt-color;
}

.flag {
  height: 1em;
  width: 1.5em;
  margin-right: 0.5em;
}

.lang-switcher-container {
  margin-right: -14px;
}

.lang-switcher-select .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: $light-txt-color !important;
}
.lang-switcher-select .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: $light-txt-color !important;
}

.lang-switcher-select .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
