@import "../../assets/theme.scss";
.header-container {
  height: 70px;
  background-color: $primary-theme-color;
  align-items: center;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  .left-container {
    display: flex;
    align-items: center;
    gap: 2em;

    .logo {
      width: 60px;
    }
    .header-title {
      font-size: 25px;
      color: $light-txt-color;
    }
  }

  .menu-items-container {
    display: flex;
    gap: 1.5em;
    color: $light-txt-color;
    .menu-item {
      cursor: pointer;
    }
    .menu-item:hover {
      opacity: 0.7;
    }
  }
}
