@import "../../assets/theme.scss";
.header-container {
  height: 70px;
  background-color: $primary-bg-color;
  align-items: center;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  .logo {
    width: 60px;
  }

  .menu-items-container{
    display: flex;
    gap: 1.5em;
    color: $light-txt-color;
    .menu-item{
        cursor: pointer;
    }
    .menu-item:hover{
        opacity: 0.7;
    }
  }
}
